
.container{

    display:flex;
    border-style: solid;
    flex-direction: row;

    justify-content: space-around;
}

#d1 {
    background-color: blue;
    order: 1;
    /* width:100%; */
    flex: 1;
}

#d2 {
    background-color: red;
    order: 2;
    /* width:100%; */
    flex: 2;

}

#d3{
    background-color: green;
    order: 3;
    /* width:100%; */
    flex: 1;

}
